
<%= render "shared/searchForm" %>

<ol>
  <% @investments.each do |investment| %>
    <%# <% if policy(investment).index? %>
    <li>  <%= link_to investment.symbol, investment_path(investment) %> <%= investment.id %> </li>
  <% end%>
</ol>
