// Specific CSS for your home-page
.row {
  margin: 0;
}


#home-logo {
  width: 300px;
  height: 300px;
  background-image: image-url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-app-name {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.full-width-btn-container {
  padding: 30px;
  padding-top: 0px;
  .btn {
    //size
    width: 100%;
    height: 46px;
    // Text
    font-size: 24px;
  }
}

#sign-in-btn {
  // Position
  position: absolute;
  top: 50px;
  right: 30px;

  // Size
  width: 81.41px;
}

.height-85 {
  height: 85%;
}
