.card_container {
  background: linear-gradient(to bottom, #30194D, transparent );
  border-radius: 24px;
  margin: 0px 8px;
  width: auto;
}

.card_container h3 {
  font-family: Epilogue;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-top: 16px;
}

.col-3 {
  font-family: Epilogue;
  color: white;
  background-color: transparent;
}

.col-3 a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.col-3 p {
  font-weight: 100;
  font-size: 12px;
}

.text-right > i {
  padding-right: 16px;
  margin-top: 20px;
}
.fa {
  color: white;
  margin-top: 4px;
  padding-left: 16px;
}

h1, h2, h5 {
  color: white;
}
