.investment-container {
  background: linear-gradient(to bottom, $purple, transparent );
  border-radius: 16px;
  margin: 0px 8px;
  width: auto;
}

.investment-container h3 {
  font-family: $body-font;
  font-weight: 500;
  font-size: 24px;
  color: $white;
  margin-top: 16px;
}


.investment-symbol {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: $white;
}

.investment-name {
  font-weight: 100;
  font-size: 12px;
}

.pen-symbol {
  padding-right: 16px;
  margin-top: 20px;
}

.plus-symbol {
  color: $white;
  margin-top: 4px;
  padding-left: 16px;
}


.full-img {
    background-image: image-url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.logo-height {
  height: 200px;
}

#user_currency {
  border-bottom: none;
  background-image: none;
  padding-right: 0 !important;
  appearance: none;
}

.hide {
  display: none;
}
