<div class="d-flex flex-column justify-items-center height-85 mt-5 pb-5">
  <div class="row justify-content-center align-content-center flex-grow-1">
    <div id="home-logo"></div>
    <h1 id="home-app-name">Assetbase</h1>
  </div>
  <div class="row justify-content-end pt-5 pb-0 full-width-btn-container">
    <%= link_to 'Get Started', portfolios_path, class: "btn primary-btn" %>
  </div>
</div>
