<div class="d-flex flex-column justify-items-center h-100 pb-5">
  <div class="row justify-content-end">
    <%= link_to 'Sign In', new_user_session_path, class: 'btn hollow-btn', id: "sign-in-btn" %>
  </div>
  <div class="row justify-content-center align-content-center flex-grow-1">
    <div id="home-logo"></div>
    <h1 id="home-app-name">Assetbase</h1>
  </div>
  <div class="row justify-content-end full-width-btn-container">
    <%= link_to 'Get Started', new_user_registration_path, class: "btn primary-btn" %>
  </div>
</div>
