#chart-1 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $white;
  border-radius: 8px;
  max-width: 390px;
  padding: 8px;
}

.no-chart{
  background-color: $hotpink;
  padding: 60px;
  border-radius: 8px;
  max-width: 390px;
  text-align: center;
}
